@media screen and (max-width:600px) {
          body{
                    padding: 0 1.25rem;
          }
          .banner .b-div{
                    flex-direction: column;
                    height: 18rem;
                    width: 18rem;
          }
          .banner {
                    width: 335px;
                    height: 483px;
          }
          .banner h1{
                    color: #FFF;
                    font-size: 22px;
                    font-weight: 800;
           }
           .Home{
                    display: none;
           }

           /* .banner p{
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
           } */
           .popular-tours{
                    flex-direction: column;
           }
           .g-img {
                    width: 335px;
                    height: 176px;
           }

           .st-row, .nd-row, .rd-row{
                    display: flex;
                    flex-direction: column;
           }
}