@media screen and (max-width:600px) {
          main,header{
                    max-width: 335px;
          }
          .banner .b-div{
                    flex-direction: column;
                    height: 18rem;
                    width: 18rem;
          }
          .banner {
                    width: 335px;
                    height: 483px;
          }
          .banner h1{
                    color: #FFF;
                    font-size: 22px;
                    font-weight: 800;
           }
           .Home{
                    display: none;
           }

           /* .banner p{
                    color: #FFF;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
           } */
           .popular-tours{
                    flex-direction: column;
           }
           .g-img {
                    width: 335px;
                    height: 176px;
           }

           .st-row, .nd-row, .rd-row{
                    display: flex;
                    flex-direction: column;
           }
           .service{
                    flex-direction: column;
                    justify-content: center;
           }
           .service div{
                    width: auto;
           }
           .popular-tours div{
                    width: auto;
           }
           .tour-pic img{
                    width:100%;
           }
}