*{
          padding:0 ;
          margin: 0;
          list-style: none;
          text-decoration: none;
          scroll-behavior: smooth;
          font-family: "Mulish", sans-serif;
}

/* Primary Style */

main,header{
          max-width: 73.125rem;
          margin: 0 auto;
}

.primary-p{
          color: rgba(19, 19, 24, 0.70);
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 1.5rem;
}

.pri-h2{
          color: #131318;
          margin-bottom: 1.5rem;
          font-size: 2.5rem;
          font-weight: 800;
}

.hr{
          background: rgba(19, 19, 24, 0.10);
          height: 1px;
}

/* Header style */

header nav{
          display: flex;
          justify-content: space-between;
          max-width: 1170px;
          margin: 0 auto;
          padding: 3.125rem 0;
}
.menu{
          display: none;
}

.Logo{
          display: flex;
          align-items: center;
          width: 100%;
          gap: 15px;
}

.Logo h3{
          color: #131318;
          font-size: 2.25rem;
          font-weight: 800;
}

.Logo h3 span{
          color: #FF5400;
          font-size: 2.25rem;
          font-weight: 800;
}

.Home{
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: space-evenly;
}

.Home a{
          color:#424247;
          font-size: 1.125rem;
          font-weight: 400;
}

.Home .home{
          color: #FF5400;
}

/* Banner section Css */

.banner{
          text-align: center;
          background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
          background-position: center;
          background-size: cover;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 31.25rem;
          margin: 0 auto;
          border-radius: 16px;
}

.banner h1{
          color: #FFF;
          font-size: 64px;
          font-weight: 800;
          margin-bottom: 1.15rem;

}

.banner p{
          color: #FFF;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 1.5rem;
}

.b-div{
          border-radius: 8px;
          width: 50rem;
          height: 5.25rem;
          margin: 0 auto;
          display: inline-flex;
          gap: 1.5rem;
          align-items: center;
          justify-content: center;
          background: rgba(255, 255, 255, 0.30);
}

.b-div input{
          width: 174px;
          height: 52px;
          border: none;
          border-radius: 8px;
          background: #FFF;
          color: rgba(19, 19, 24, 0.50);
          text-align: center;
          font-size: 16px;
          font-weight: 400;
}

.p-btn{
          width: 174px;
          height: 52px;
          border: none;
          border-radius: 8px;
          background: #FF5400;
          color: #FFF;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
}

/* Main Style start */


/* Popular Tours Style Start */

.popular-tours{
          display: flex;
          gap: 1.5rem;
          margin-top: 6.25rem;
}

.tour-text{
          width: 100%;
          padding: 0 1rem;
}

.tour-text *{
          margin-bottom: 1.5rem;
}


.tour-text ul li{
          color: rgba(19, 19, 24, 0.70);
          font-size: 1rem;
          font-weight: 700;
          list-style: disc;
}

/* .tour-pic{
          width: 100%;
          display: flex;
          justify-content: center;
} */

/* Destination section Start */

.destination{
          text-align: center;
          margin-top: 6.25rem;
}

.destination > p{
          max-width: 40.1875rem;
          margin: 0 auto 3rem;
          
}

.gallery{
          display: grid;
          gap: 1.5rem;
}

.g-img{
          
          height: 18.75rem;
          border-radius: 1rem;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
}

.st-row{
          display: grid;
          gap: 1.5rem;
          grid-template-columns: 35.815rem 35.815rem;
}

.nd-row{
          display: grid;
          gap: 1.5rem;
          grid-template-columns: 23.375rem 29.625rem 17.125rem;
}

.rd-row{
          display: grid;
          gap: 1.5rem;
          grid-template-columns: 29.625rem 42.0625rem;
}

.g-img h3{
          color: #FFF;
          font-size: 1.75rem;
          font-weight: 800;                 
}
/* linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), Included in img, So i skip it   */
.s1-g{
          background-image:  url(../Images/Rectangle\ 5.png);
          background-position: center;
          background-size: cover;
}
.s2-g{
          background-image: url(../Images/Rectangle\ 8.png);
          background-position: center;
          background-size: cover;
}
.s3-g{
          background-image: url(../Images/Rectangle\ 6.png);
          background-position: center;
          background-size: cover;
}
.s4-g{
          background-image: url(../Images/Rectangle\ 7.png);
          background-position: center;
          background-size: cover;
}
.s5-g{
          background-image: url(../Images/Rectangle\ 9.png);
          background-position: center;
          background-size: cover;
}
.s6-g{
          background-image:  url(../Images/Rectangle\ 11.png);
          background-position: center;
          background-size: cover;
}
.s7-g{
          background-image: url(../Images/Rectangle\ 10.png);
          background-position: center;
          background-size: cover;
}

/* Why Choose Us Section Style*/

.chose-us{
          text-align: center;
          margin-top: 6.25rem;
}

.hdb{
          border: 2px solid rgb(128, 68, 26);
          width: 35.8125rem;
          height: 17.75rem;
          padding: 2rem;
          text-align: start;
}

.hdb img{
          margin-bottom: 2rem;
}

.hdb h3{
          color: #131318;
          font-size: 1.5rem;
          font-weight: 800;
          margin-bottom: .5rem;
}

.service{
          display: flex;
          gap: 1.5rem;
          margin-top: 3rem;
}

.best-price{
          display: flex;
          justify-content: center;
          margin-top: 1.5rem;
}

.hotel{
          border-radius: 16px;
          border: 1px solid rgba(251, 181, 99, 0.20);
          background: rgba(251, 181, 99, 0.05);
}

.world{
          border-radius: 16px;
          border: 1px solid rgba(41, 206, 246, 0.20);
          background: rgba(41, 206, 246, 0.05);
}

.price{
          border-radius: 16px;
          border: 1px solid rgba(233, 68, 68, 0.20);
          background: rgba(233, 68, 68, 0.05);
}

/* Newsletter section Style */

.newsletter{
          display: flex;
          gap: 1.5rem;
          margin:6.25rem 0;
}

.news-text{
          width: 100%;
          border-radius: 16px;
          border: 1px solid #FF5400;
          padding: 2.5rem;
}

.news-text h3{
          color: #131318;
          font-size: 1.5rem;
          font-weight: 800;
          margin-bottom: 1.5rem;
}
.news-input{
          display: flex;
          flex-direction: column;
          
}



.news-input input{
          border-radius: 8px;
          border: none;
          background: rgba(19, 19, 24, 0.05);
          margin-top: 1.5rem;
          width: 393px;
          height: 52px;
          color: rgba(19, 19, 24, 0.50);
          font-size: 16px;
          font-weight: 400;
}

.news-input button{
          border-radius: 8px;
          background: rgba(19, 19, 24, 0.05);
          margin-top: 1.5rem;
          width: 393px;
          height: 52px;
          border-radius: 8px;
          border: none;
          background: #FF5400;color: #FFF;
          text-align: center;
          font-size: 20px;
          font-weight: 800;
}

.news-img{
          width: 100%;
          position: relative;
}

.rotted{
          position: absolute;
          bottom: 4rem;
          right: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 324px;
          height: 120px;
          transform: rotate(-19.628deg);
          border-radius: 16px;
          background: #FF5400;
}
.rotted p{
          color: #FFF;
          font-size: 24px;
          font-weight: 400;
}
.rotted h3{
          color: #FFF;
          font-size: 32px;
          font-weight: 800;
}
/* Footer Style */

footer{         
          max-width: 90rem;
          margin: 0 auto;
}

.f-section{
          text-align: center;
          background: rgba(19, 19, 24, 0.05);
          padding:6.875rem 17.75rem;
}

.f-logo{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
}

.f-logo h3{
          color: var(--Dark-01, #131318);
          font-size: 2rem;
          font-weight: 800;
}

.f-logo h3 span{
          color: #FF5400;
          font-size: 2rem;
          font-weight: 800;
}

.f-icon{
          display: flex;
          justify-content: center;
          width: 174.322px;
          height: 24px;
          margin: 0 auto 1.5rem;
}

.f-icon a{
          width: 2rem;
}
.f-p{
          margin-top: 3rem;
}